/*ARRUMAR ESSA PAGINA COMO A PAGINA DO PRODUTO*/
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caixa-cabecalho{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 126px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}

#banner{
    width: 100%;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
    margin: 0 auto;
    padding: 50px 0;
}

.tituloprincipal{
    padding-left: 30px;
}

.titulocentralizado{
    text-align: center;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#missao{
    font-size: 20px;
}

h1{
    font-size: 100px;
    color: blueviolet;
}

em strong{
    color: blue;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: #ffffff;
    padding: 20px;
    display: inline;
    position: absolute;
}

.imagembeneficios{
    width: 50%;
    padding-left: 20px 0;
}

footer{
    text-align: center;
    background: url("./img/img-produtos/bg.jpg");
    padding: 40px 0;
}

.textoCopyWrigth{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
     
}