@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caixa-cabecalho{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 126px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    /* OU border: 2px solid #000000 */
    border-radius: 10pX;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:active{
    border-color: #088019;
}

/*quando o mouse estiver por cima dos elementos do li quero alterar o elemento H2*/
.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-texto{
    font-size: 18px;    
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0; /*mesma coisa q margin-top: 10px*/
}

footer{
    text-align: center;
    background: url("./img/img-produtos/bg.jpg");
    padding: 40px 0;
}

.textoCopyWrigth{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
     
}

form{
    margin: 40px 0;
    width: 940px;
    margin: 0 auto;
    padding-top: 1em;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
 
.input-padrão{
    display: block;
    margin-bottom: 20px;
    /*margin: 0 0 20px; MESMA COISA QUE O DE CIMA*/
    padding: 10px 25px; /*10px p/ sima e p/ baixo e 25px para os lados*/
    width: 50%;/*o campo input, menos o tipo submit, vai ocupar 50% da pagina*/
}

.checkbox{
    margin: 20px 0
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: 1s all;/*diz quanto tempo a ação do hover ou transição vai demorar e oq ela irá mudar*/
    cursor: pointer;/*sempre que o mouse estiver por cima do elem ele mude o cursor*/
}

.enviar:hover{
    background: darkorange;
    /*transform: scale(1.2);aumenta as proporções do elemento em 20%(1,2)*/
    /*transform: rotate(70deg);inclina o meu elemnto em quantos graus(degreas(deg)) eu quiser*/
    /*No css a leitura é sempre feita de cima para baixo então o ultimo item sobreescreve o anterior*/
    transform: scale(1.2) rotate(-3deg);
}

table{
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: #ffffff;
}

td, th{
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 15px;
}

/*CSS da página index*/

.banner{
    width: 100%;
}

.titulo-principal{
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    clear: float;
}

/*.titulo-principal::first-letter{/*pega a primeira letra e cola em negrito
    font-weight: bold;
}*/

/*p::first-line{/*Pega a primeira linha e coloca em italico
    font-style: italic;
}*/

/*Criam um espaço onde o css pode ser usado antes ou depois do elemento
Ele não é um conteudo selecionavel no site, apenas de exibição*/

.titulo-principal::before{
    content: "[ ";
}

.titulo-principal::after{
    content: " ]";
}

.principal{
    padding: 3em 0;
    background: #fefefe ;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    font-size: 1.5em;
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em; /*espaçamento externo para baixo de 2em*/
    text-align: center;
}

.beneficios{
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}

.itens:first-child{
    font-weight: bold;
}

.itens::before{
    content: "★ ";
}

.imagem-beneficios{
    width: 60%;
}

.video{
   width: 560px;
   margin: 2em auto; /*1em p/ cima e p/ baixo e automatica nas laterais*/
}